.register-body {
  background: linear-gradient(to right, #ebcead, #695a48);
}

.register-body a {
  text-decoration: none;
  color: white;
}

.register-body a:hover {
  text-decoration: underline;
}

.register-body .bc {
  background-color: gray !important; /* New color */
}

/* .register-body .login-button {
  width: 100%;
} */

.register-body .cu {
  background-color: #9a9696 !important;
}

.register-body .ct {
  color: white !important;
}
