body {
  /* background-color: #475766; */
  background: linear-gradient(to right, #bebcbc, #7c7978);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.bc {
  background-color: gray !important; /* New color */
}

.login-button {
  width: 100%;
}
