.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d5dbe7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ROOT do componente (borda e fundo) */
[data-baseweb="input"] {
  background-color: #d9d9d9 !important;
  border: 3px solid #908378 !important; /* cobre top/right/bottom/left */
  border-radius: 8px; /* se quiser */
}

/* CONTAINER interno do input */
[data-baseweb="base-input"] {
  background-color: #d9d9d9 !important;
}

/* O <input> real */
[data-baseweb="base-input"] input {
  background-color: #d9d9d9 !important;
  caret-color: #908378 !important;
  font-family: "Inter", sans-serif !important;
  color: black;
}

[data-baseweb="base-input"] input::placeholder {
  color: #908378 !important;
}
